{
  "mcpServers": {
    "context7": {
      "command": "bash",
      "args": [
        "./scripts/mcp-context7.sh"
      ]
    },
    "sonarqube": {
      "command": "bash",
      "args": [
        "./scripts/mcp-sonarqube.sh"
      ]
    }
  }
}
