{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp"
      ],
      "env": {
        "CONTEXT7_API_KEY": "YOUR_API_KEY_HERE"
      }
    },
    "sonarqube": {
      "command": "bash",
      "args": [
        "./scripts/mcp-sonarqube.sh"
      ]
    }
  }
}
