{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "context7": {
      "type": "local",
      "command": [
        "bash",
        "./scripts/mcp-context7.sh"
      ],
      "enabled": true
    },
    "sonarqube": {
      "type": "local",
      "command": [
        "bash",
        "./scripts/mcp-sonarqube.sh"
      ],
      "enabled": true
    }
  }
}
