{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "context7": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@upstash/context7-mcp"
      ],
      "env": {
        "CONTEXT7_API_KEY": "YOUR_API_KEY_HERE"
      },
      "enabled": true
    },
    "sonarqube": {
      "type": "local",
      "command": [
        "bash",
        "./scripts/mcp-sonarqube.sh"
      ],
      "enabled": true
    }
  }
}
